@switch (tag()) {
    @case ('h1') {
      <h1 [style.textAlign]="alignment()" [style.color]="color()" [style.fontWeight]="fontWeight()" [innerHTML]="innerHTML()"></h1>
    }
    @case ('h2') {
      <h2 [style.textAlign]="alignment()" [style.color]="color()" [style.fontWeight]="fontWeight()" [innerHTML]="innerHTML()"></h2>
    }
    @case ('h3') {
      <h3 [style.textAlign]="alignment()" [style.color]="color()" [style.fontWeight]="fontWeight()" [innerHTML]="innerHTML()"></h3>
    }
    @case ('h4') {
      <h4 [style.textAlign]="alignment()" [style.color]="color()" [style.fontWeight]="fontWeight()" [innerHTML]="innerHTML()"></h4>
    }
    @case ('h5') {
      <h5 [style.textAlign]="alignment()" [style.color]="color()" [style.fontWeight]="fontWeight()" [innerHTML]="innerHTML()"></h5>
    }
    @case ('h6') {
      <h6 [style.textAlign]="alignment()" [style.color]="color()" [style.fontWeight]="fontWeight()" [innerHTML]="innerHTML()"></h6>
    }
  }
  